{% if page.translation_key == "contact" %}

<style>
  .visitor-counter-section {
    width: min(calc(100% - 40px), 1000px);
    margin: 45px auto 55px;
  }

  .visitor-counter-section h2 {
    margin: 0 0 24px;
  }

  .visitor-counter-box {
    display: flex;
    justify-content: center;
  }

  .visitor-counter-box img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
  }
</style>

<section class="visitor-counter-section">
  <h2>Visitors Around the World</h2>

  <div class="visitor-counter-box">
    <img
      src="https://s05.flagcounter.com/count2/LbmZ/bg_FFFFFF/txt_263B49/border_FFFFFF/columns_4/maxflags_12/viewers_0/labels_1/pageviews_1/flags_1/percent_0/"
      alt="Visitors by country"
    >
  </div>
</section>

{% else %}

<img
  src="https://s05.flagcounter.com/count2/LbmZ/bg_FFFFFF/txt_000000/border_FFFFFF/columns_1/maxflags_1/viewers_0/labels_0/pageviews_0/flags_0/percent_0/"
  alt=""
  aria-hidden="true"
  width="1"
  height="1"
  style="
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
  "
>

{% endif %}